<%- include("../partials/header") %>

<% if (project == null) { %>
	<p> You have no allocated projects. </p>
<% } else { %>
	<div class="w3-container">
		<p> </p>
		<ul class="w3-ul w3-card" style="width:90%">
			<li>
				<%= project.title.toUpperCase() %>
			</li>
			<p><%= project.description %></p>
			<form action="/projects/details" method="get">
				<input type="hidden" name="id" value="<%= project.id %>" />
				<input type="submit" value="Open" />
			</form>
	  	</ul>
	  <br>
	</div>
<% } %>

<%- include("../partials/footer") %>
