<%- include("../partials/header") %>

<p>GAIL Team: <%= project.username %></p>
<p>Title: <%= project.title %></p>
<p>Description: <%= project.description %></p>
<p>Time floated: <%= project.createTimeStamp %></p>
<p>Deadline: <%= project.deadline %></p>



<div class="row">
    <h1 style="text-align: center">Apply Bid</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form id="applyForm" method="post">
            <div class="form-group">
                <input class="form-control" type="number" name="price" placeholder="Price">
            </div>
            <div class="form-group">
                <input class="form-control" type="number" name="time_period" placeholder="Time Period (in days)">
            </div>
            <div class="form-group" id="isostan">
                <input class="form-control" type="text" name="iso1" placeholder="Specify ISO Standard">
            </div>
            <input type="button" class="btn btn-lg btn-primary btn-block" id="addField" value="Add Field"></input>
            <input type="hidden" name="id" value="<%= projectID %>" />
            <div class="form-group">
                <button type="submit" formaction="/projects/apply" class="btn btn-lg btn-primary btn-block">Apply for project</button>
            </div>
        </form>
    </div>
</div>

<script>
    var numFields = 1;
    function createField() {
        numFields = numFields+1
        var input = document.createElement('input');
        input.type = 'text';
        input.name = 'iso'+numFields.toString();
        input.className += 'form-control';
        input.placeholder = 'Specify ISO Standard';
        return input;
    }

    var form = document.getElementById('isostan');
    document.getElementById('addField').addEventListener('click', function(e) {
        form.appendChild(createField());
    });
</script>

<%- include("../partials/footer") %>
