<%- include("../partials/header") %>

<div class="container eq">
  <div class="card2 col">
    <div class="form-group">
      <label>GAIL Team:</label>
      <input type="text" class="form-control" value="<%= project.username.toUpperCase() %>" readonly>
    </div>
    <div class="form-group">
      <label>Title:</label>
      <input type="text" class="form-control" value="<%= project.title %>" readonly>
    </div>
    <div class="form-group">
      <label>Description:</label>
      <input type="text" class="form-control" value="<%= project.description %>" readonly>
    </div>
    <div class="form-group">
      <label>Time Floated:</label>
      <input type="text" class="form-control" value="<%= project.createTimeStamp %>" readonly>
    </div>
    <div class="form-group">
      <label>Deadline:</label>
      <input type="text" class="form-control" value="<%= project.deadline %>" readonly>
    </div>
  </div>

  <div class="card2 info col">
    <div class="row">
        <h1 style="text-align: center">Apply Bid</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form id="applyForm" method="post">
                <div class="form-group">
                    <input class="form-control" type="number" name="price" placeholder="Price">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="time_period" placeholder="Time Period (in days)">
                </div>
                <div class="form-group" id="isostan">
                    <input class="form-control" type="text" name="iso1" placeholder="Specify ISO Standard">
                </div>
                <input type="button" class="btn btn-lg btn-primary btn-block" id="addField" value="Add Field"></input>
                <input type="hidden" name="id" value="<%= projectID %>" />
                <div class="form-group" style="margin-top: 10px;">
                    <button type="submit" formaction="/projects/apply" class="btn btn-lg btn-primary btn-block">Apply for project</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>

<script>
    var numFields = 1;
    function createField() {
        numFields = numFields+1
        var input = document.createElement('input');
        input.type = 'text';
        input.name = 'iso'+numFields.toString();
        input.className += 'form-control';
        input.placeholder = 'Specify ISO Standard';
        return input;
    }

    var form = document.getElementById('isostan');
    document.getElementById('addField').addEventListener('click', function(e) {
        form.appendChild(createField());
    });
</script>

<%- include("../partials/footer") %>
