<%- include("../partials/header") %>

<% if (Object.keys(projects).length == 0 || projects == null) { %>
	<div class="container" style="margin-top: 30px">
	    <header class="jumbotron" style="height: 50px; padding-top: 0.5%;">
	        <div class="container" style="text-align: center;">
	            <h4>You have no completed projects.</h4>
	        </div>
	    </header>
	</div>
<% } else { %>
	<div class="container" style="margin-top: 30px">
		<header class="jumbotron" style="height: 50px; padding-top: 0.5%;">
	     <div class="container" style="text-align: center;">
	         <h4>View All Completed Projects</h4>
	     </div>
	  </header>

		<div class="row text-center" style="display:flex; flex-wrap: wrap;">
			<% for(var key in projects) { %>
				<% if(projects.hasOwnProperty(key)){ %>
				<% const temp = JSON.parse(projects[key]); %>
			<div class="col-md-4 col-sm-6">
				<div class="thumbnail">
					<div class="caption">
						<h3 style="font-weight: bolder;"><%= temp.title %></h3>
						<% var len = Math.min(30,temp.description.length) %>
						<h6><%= temp.description.substring(0,len) + " ...."%></h6>
					</div>

					<p>
						<% if(temp.brochurePath != "null") { %>
							<a href= "/download/<%= temp.brochurePath%>" >Download Brochure</a>
							<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
						<% } %>
					</p>

					<p>
						<form action="/projects/completed/details" method="get">
							<input type="hidden" name="id" value="<%= temp.id %>" />
							<input class="btn btn-primary" type="submit" value="More info" />
						</form>
					</p>
				</div>
			</div>
			<% } %>
			<% } %>
		</div>
  </div>

<% } %>

<%- include("../partials/footer") %>
