<%- include("../partials/header") %>

<div class="row">
    <div style="width: 30%; margin: 25px auto;">

        <div class="form-group">
            Title: <%= project.title %>
        </div>

        <div class="form-group">
            Description: <%= project.description %>
        </div>

        <div class="form-group">
            Status: <%= project.status %>
        </div>

        <div class="form-group">
            <% for(var idx in progress) { %>
    			<% const temp = progress[idx]; %>
				<li>
			        <%= temp.timestamp %>: <%= temp.description %>
                </li>
        	<% } %>
        </div>

        <div class="form-group">
            Deadline: <%= project.deadlineTime %>
        </div>

        <div class="form-group">
            <a href="/projects/progress?id=<%= project.id %>" class="btn btn-primary">
                Update Progress
            </a>
        </div>

        <div class="form-group">
              <% if(project.type == "product" && project.status == "in-progress"){ %>
                    <form action="/projects/details" method="post">
                        <input type="hidden" name="status" value="shipping" />
                        <input type="hidden" name="id" value="<%= projectID %>" />
		              <input class="btn btn-primary" type="submit" value="Initiate Shipping" />
                    </form>
              <% } else if(project.status != "in-review") { %>
                  <form action="/projects/details" method="post">
                      <input type="hidden" name="status" value="in-review" />
                      <input type="hidden" name="id" value="<%= projectID %>" />
                      <input class="btn btn-primary" type="submit" value="Submit Project" />
                  </form>
              <% } %>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
