<!DOCTYPE html>
<html>

<head>
    <title>GAIL Corporation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="css/spinner.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

    <nav class="navbar navbar-expand-md" style="background-color: #222222; color: #9d9d9d;">

        <a class="navbar-brand" href="/" class="btn btn-md">GAIL</a>
        <a class="navbar-brand" href="/activeprojects" class="btn btn-md">Active Projects</a>
        <a class="navbar-brand" href="/floatedprojects" class="btn btn-md">Floated Projects</a>
        <a class="navbar-brand" href="/finishedprojects" class="btn btn-md">Finished Projects</a>
        <a class="navbar-brand" href="/newproject" class="btn btn-md">Float a new Project</a>
       
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu" style="color: #9d9d9d;">
            <ul class="navbar-nav ml-auto" style="color: #9d9d9d;">
                <% if(!currentUser){ %>
                <li><a href="/login" class="navbar-brand btn-md" style="color: #9d9d9d;">Login</a></li>
                <li><a href="/register" class="navbar-brand btn btn-md" style="color: #9d9d9d;">SignUp</a></li>
                <% } else{ %>
                <li><a class="navbar-brand btn btn-md" href="#" style="color: #9d9d9d;">Signed In As <%= currentUser.toUpperCase() %> </a></li>
                <li><a href="/editprofile" class="navbar-brand btn btn-md" style="color: #9d9d9d;">Edit Profile</a></li>
                <li><a href="/logout" class="navbar-brand btn btn-md" style="color: #9d9d9d;">Logout</a></li>
                <% } %>
            </ul>
        </div>
    </nav>

    <br>
    <div class="container" style="margin-top: 30px;">
        <h1 style="text-align: center;"><%=data.title%></h1>
    </div>
    <br>
    <div class="card text-white bg-info mb-3" style="width: 40em; margin: 0 auto;">
        <div class="card-body" style="text-align: center;">
            <h4 class="card-text" style="font-weight: bolder;"><%= data.description %></h4>
            <h6 style="color: red;">Deadline Date: <%= data.deadline %></h6>
            <h6>Created Date: <%= data.deadline %></h6>
        </div>
    </div>

    <% for(var idx in allBidDetails) { %>
		<% const singleBid = allBidDetails[idx]%>
		<%= JSON.parse(singleBid.object.bidDetails).price %>
	<% } %>

</body>

<!-- "object": {
    "username": "chirag",
    "docType": "PROJECT",
    "id": "4",
    "title": "Steel Pipes ",
    "description": "Good Steel Pipes for sewage and other road materials.",
    "status": "floated",
    "contractor_id": null,
    "bid_id": null,
    "progress": [],
    "createTimeStamp": "2020/07/29",
    "deadline": "2020/09/02",
    "brochurePath": "1596044117604"
} -->

</html>